$site-background: #2A2A2A;
$text-color: #dac4c4;
$link-color: #e81c4f;
$link-hover: #aa9595;
$foot_color: #2a2a2a00;


body, html, main {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: $site-background;
    font-family: "Helvetica";
    color: $text-color;
    line-height: 1.5;
}

main.home {
    background-image: url("https://cloud.disroot.org/apps/files_sharing/publicpreview/N2S5Sd3iHrZnrGp?file=/&fileId=267150112&x=3456&y=2178&a=true&etag=0240c68dd975031bb8577588ce98cbe7");
    background-size: 100% auto;
    background-repeat: no-repeat;
    div {
        position: fixed;
        left: 38%;
        bottom: 1em;
        padding: 0 1em;
        margin-right: 2em;
        font-weight: bold;
        font-size: 20px;
        background-color: #00000055;
    }
}

main.episodes {
    margin: 0 auto;
    padding: 1em 1em;
    h1 {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 0;
        font-size: 50px;
    }
}

main img {
   
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
    
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $link-color;
    &:hover {
        color: $link-hover;
    }

}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    color: $text-color;
}

nav {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
     
    background-color: $foot_color;
    list-style: none;
   
    img {
        max-width: 45%;
        position: relative;
        margin-top: 10%;

        &:hover {
            filter: invert(30%);
        }
        
    }

    li {
        display: inline-block;
    }
}
